body {
    background-image: url("the holy cat.png");
    background-position: center;
    background-size: cover;
}

.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px gray;
}

.heading_div {
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px gray;
}

.heading_div2{
    font-size: 18px;
}

h3 {
    background-color: gray;
}
